<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - UniConnect</title>
        {% include 'common/css.html' %}
    </head>
    <body data-spy="scroll">
        <section>
            <header>
                {% include 'pages/home/header.html' %}
            </header>
        </section>
        
        <section>
            {% block hero %}{% endblock %}
        </section>
        <section>
            {% block section1 %}{% endblock %}
        </section>
        <section class="international-students">
            {% block section2 %}{% endblock %}
        </section>
        <section>
            {% block section5 %}{% endblock %}
        </section>
        <section class="testimonies">
            {% block section3 %}{% endblock %}
        </section>
        <section>
            {% include 'common/footer.html' %}
        </section>
        <div id="load"></div>
        
        {% include 'common/js.html' %}
    </body>
</html>