<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %} - UniConnect</title>
        {% include 'common/css.html' %}
    </head>
    <body data-spy="scroll" data-target="#navbar-example3" data-offset="70">
        <section class="container-fluid">
            <div class="row no-gutters">
                <div class="col-md-2 border-right">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="col-md-10">
                    <section>
                        {% block topnav %}{% endblock %}
                    </section>
                    <section>
                        {% block maincontent %}{% endblock %}
                    </section>
                </div>
            </div>
        </section>
        <div id="load"></div>
        {% include 'common/js.html' %}
    </body>
</html>