<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}{% endblock %} - UniConnect</title>
        {% include 'common/css.html' %}
    </head>
    <body data-spy="scroll">
        <section>
            <header>
                {% include 'pages/home/header.html' %}
            </header>
        </section>
        <br>
        {% block breadcrumbs %}{% endblock %}
        <section class="top-section">
            {% block header %}{% endblock %}
        </section>
        <section class="body-section">
            {% block body %}{% endblock %}
        </section>
        <section>
            {% include 'common/footer.html' %}
        </section>
        {% include 'common/js.html' %}
    </body>
</html>