{# bootstrap #}
<link href="/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
<link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
{# select 2 #}
<link href="/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="/node_modules/select2-bootstrap-theme/dist/select2-bootstrap.min.css" rel="stylesheet" />

{# custom css #}
<link href="/assets/stylesheets/screen.css" rel="stylesheet" />

<style>
    .bg-success {
        background-color: #646464!important;
    }

    .bg-info {
        background-color: #454545!important;
    }

    .progress-bar {
        background-color: #cccccc;
    }

    .nav .active {
        background-color: #cacaca!important;
    }
</style>