<link rel="stylesheet" href="/node_modules/bulma-start/css/main.css">
<style>
    .main-nav {
        padding: 1.4rem 0;
    }
    #banner-page h1 {
        margin-bottom: 3rem;
    }
    .form-initial-questions {
        background-color: white;
        padding: 3rem 8rem;
        margin: 0 5rem;
    }
    .form-initial-questions h4 {
        margin-left: 1rem;
    }
    .label-paragraph {
        font-size: 1.2rem;
        float: left;
        margin:0 1rem;
    }
    .select-paragrap {
        float: left;
    }
    .margin-top {
        margin-top:5rem;
        margin-bottom: 2rem;   
    }
    .breadcrumb {
        padding: .5rem 0;
    }
</style>