<footer class="footer">
    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>UniConnect</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus <br> veritatis rem facere aliquid, ea ex ipsa cumque qui distinctio aut sunt <br> necessitatibus, non quos maiores! Magni et vero molestiae qui.
                    </p>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Quick Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('regularSearch') }}">Universities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('aboutus') }}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('services') }}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('faq') }}">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">About UniConnect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Press Release</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms and Condition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Chatbots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messengers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">WeChat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Coming Soon!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="container text-center">
    <strong>UniConnect</strong> by <a href="">Guild of Dev</a>.
</div>