<footer class="footer">
    <div class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>UniConnect</h3>
                    <p>
                        UniConnect key feature is the chatbot 
                        that capable of delivering interactive conversation 
                        to perform series of tasks on its own 
                        and without the help of human being.    
                    </p>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Quick Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('regularSearch') }}">Universities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('aboutus') }}">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('services') }}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('faq') }}">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">About UniConnect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Press Release</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Terms and Condition</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Chatbots</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messenger</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">More Soon!</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>