<div id="chabots">
    <ul>
        <li class="chat-icon" data-toggle="popover" data-placement="left" data-content="Chat with us in messenger">
            <a href="https://www.facebook.com/UniConnect-431878487273437/" target="_blank"><i class="fab fa-facebook-messenger"></i></a>
        </li>
    
    </ul>
</div>

{# jquery #}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{# bootstrap #}
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
{# lazy load #}
<script src="/assets/scripts/main.min.js"></script>

{# fontawesome #}
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
{# select 2 #}
<script src="/node_modules/select2/dist/js/select2.min.js"></script>
<script src="/node_modules/select2/dist/js/select2.min.js"></script>
{# swal #}
<script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>
{# lazy load #}
<script src="/node_modules/lazyloadxt/dist/jquery.lazyloadxt.min.js"></script>

