{# jquery #}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{# bootstrap #}
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
{# fontawesome #}
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
{# select 2 #}
<script src="/node_modules/select2/dist/js/select2.min.js"></script>
<script src="/node_modules/select2/dist/js/select2.min.js"></script>
{# swal #}
<script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script>

<script>

    $('#location').select2({
        placeholder: "Country you want to study",
        theme: "bootstrap",
        ajax: {
            url: '/list-of-locations',
            dataType: 'json'
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
    });

    $('#country').select2({
        placeholder: "Country you want to study",
        theme: "bootstrap",
        ajax: {
            url: '/list-of-locations',
            dataType: 'json'
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
    });

    $('#degree').select2({
        placeholder: "Select Degree",
        theme: "bootstrap",
        ajax: {
            url: '/list-of-degree',
            dataType: 'json'
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
    });

    $('#Alocation').select2({
        placeholder: "Country you want to study",
        theme: "bootstrap",
        ajax: {
            url: '/list-of-locations',
            dataType: 'json'
            // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
        }
    });

    $('#location').change( function() {
        $("#load").addClass("loading");

        if($("#location").val() == 1) window.location.replace("/australia");
        else if($("#location").val() == 2) window.location.replace("/new-zealand");
      
    });

    $('#btnSearch').click( function() {
        $("#load").addClass("loading");

        if($("#country").val()) {
            if($("#country").val() == 1) window.location.replace("/australia");
            else if($("#country").val() == 2) window.location.replace("/new-zealand");
        } else {
            swal('Country is a required field', 'You must atleast select a country you want to study too.', 'warning');
            $("#load").removeClass("loading");
        }
        
    });

    $('.search').click( function() {
        $("#load").addClass("loading");
    });

    $('.btnLogin').click( function() {
        $("#load").addClass("loading");

        window.location.replace("/profile");
    });

    $(window).on("scroll", function() {
        if (document.body.scrollTop > 550 || document.documentElement.scrollTop > 550) {
            $("#btnApply").addClass('fixed-top');
            $("#btnApply").css('width',  $("#btnApply").next().width());
            $("#btnApply").css('margin', 'auto');

        } else {
            $("#btnApply").removeClass('fixed-top');
        }
    });
    
    $("#btnApply").click(function() {
        window.location.replace("/login");
    });

    var pathname = window.location.pathname;
	$('.nav > li > a[href="'+pathname+'"]').addClass('active');

    $('.nav > a[href="'+pathname+'"]').addClass('active');
</script>
