{% extends "/templates/list-of-uni.html" %}

{% block title %} {{ title }} {% endblock %}

{% block breadcrumbs %}
{% include 'common/breadcrumbs.html' %}
{% endblock %}

{% block unilist %}
<div class="card-columns">
    {% for uni in universities %}
        <div class="card top-uni-text">
            <div data-toggle="tooltip" class="position-top-right" data-placement="top" title="Brief information">
                <a class="btn btn-warning btn-get-uni" data-id="{{ uni.id }}" href="javascript:void(0)" data-toggle="modal" data-target=".exampleModalCenter">
                    <i class="fas fa-info-circle"></i>
               </a>
            </div>
            {% if uni.logo %}
            <img class="card-img-top" data-src="/assets/uploads/images/{{ uni.logo }}" alt="{{ uni.name }}">
            {% else %}
            <img class="card-img-top" data-src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ uni.name }}">
            {% endif %}
            <br>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{ path_for('university', {country:uni.country, uni:uni.slug}) }}">{{ uni.name }}</a>
                    <br>
                    <small>
                        {{ uni.address|title }} <br>
                        {{ uni.country|title }}
                    </small>
                </h5>
                <br>
                <p class="card-text">
                    {{ uni.description|raw|slice(0,100) }}... 
                    <a href="{{ path_for('university', {country:uni.country, uni:uni.slug}) }}" class="badge badge-warning">read more</a>
                </p>
                <br>
                <p class="card-text">
                    <small>
                        <i class="fas fa-dollar-sign"></i> {{ uni.range }} Annually
                    </small>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
<div class="modal fade exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uni-title">Uni Name</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br>
        <h5 class="title-uni-info">University Info</h5>
        <div class="uni-info">
        </div><br>
        <hr>
        <br><br>
        <h5 class="title-uni-degree">Degree</h5>
        <div class="card-columns degree-card"></div><br>
        <hr>
        <br><br>
        <h5 class="title-uni-culture">Culture</h5>
        <div class="uni-culture">
        </div><br>
      </div>
    </div>
  </div>
</div>
              
{% endblock %}