<div class="jumbotron">
    <h5>Advance Search</h5>
    <hr class="my-4">
    <form>
        <div class="form-group">
            <label for="location">Country</label>
            <select class="form-control" id="country"></select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Degree</label>
            <select class="form-control" id="degree"></select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Tuition Fee</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Range</span>
                </div>
                <input type="text" placeholder="min" class="form-control">
                <input type="text" placeholder="max" class="form-control">
            </div>
        </div>
    </form>
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
    <button class="btn btn-light btn-block" id="btnSearch">Search</button>
    </p>
</div>