{% extends "/templates/search.html" %}

{% block title %} {{ title }} {% endblock %}

{% block section3 %}
<div class="container">
    {% include 'common/breadcrumbs.html' %}
    <div class="row">
        <div class="col-md-3">
            <img data-src="/assets/uploads/images/{{ creators.fldUserDisplayImage }}" class="img-fluid" alt="{{ creators.fldUserFName }} {{ creators.fldUserLName }}">
            <br><br>
            Email: <strong>{{ creators.fldUserEmail }}</strong>  
            Phone: <strong>{{ creators.fldUserMobile }}</strong>
        </div>
        <div class="col">
            <h4>
                {{ creators.fldUserFName }} {{ creators.fldUserLName }} <br> <small>{{ creators.tblUserTitle }}</small>
            </h4>
            <article>
                {{ creators.fldUserDescription|raw }}
            </article>
        </div>
    </div>
</div>  
<br>
{% endblock %}