{% extends "/templates/common.html" %}

{% block title %} {{ title }} {% endblock %}

{% block hero %}
<div class="main-background">
    <div class="container">
        <br>
        {% include 'common/breadcrumbs.html' %}
        <div class="white-transparent">
            <div class="row text-white">
                <div class="col-md-12">
                    <h2 class="text-warning"> <u>FAQ about UniConnect</u></h2>
                    <p>
                        This information is only a guide and should not replace information supplied by Previous international students. If you have any questions about your application or process in applying Universities, please speak with our chatbot or  contact any team member to assist you. 
                    </p>
                </div>
            </div>
        </div>
    </div>  
</div>
{% endblock %}

{% block section1 %}
<div class="container">
  <br><br><br>
  <div class="top-uni-text">
      <h3 class="h3">
          Australia and New Zealand
      </h3>
   </div>
  <div id="accordion" class="faq-text">
    <div class="card">
     <div class="card-header" id="faq1">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapsefaq1" aria-expanded="true" aria-controls="collapsefaq1">
              Which country is best for the bachelors and master’s degree?
          </button>
        </h5>
      </div>
      <div id="collapsefaq1" class="collapse show" aria-labelledby="faq1" data-parent="#accordion">
        <div class="card-body">
            Australia is better nowadays for the future studies as there are variety of degrees available there with so many universities. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq2">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefaq2" aria-expanded="false" aria-controls="collapsefaq2">
              Is going Australia will give me benefit in future for better job?
          </button>
        </h5>
      </div>
      <div id="collapsefaq2" class="collapse show" aria-labelledby="faq2" data-parent="#accordion">
        <div class="card-body">
            There are numerous jobs available in Australia in every field, so it won't be any issue regarding job.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq3">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefaq3" aria-expanded="false" aria-controls="collapsefaq3">
              Which is the best university in Australia?
          </button>
        </h5>
      </div>
      <div id="collapsefaq3" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            all the governments universities are good in Australia 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="faq4">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefaq4" aria-expanded="false" aria-controls="collapsefaq4">
              Which is the cheap place to live in Australia?
          </button>
        </h5>
      </div>
      <div id="collapsefaq4" class="collapse show" aria-labelledby="faq4" data-parent="#accordion">
        <div class="card-body">
            Melbourne is pretty cheap as food is really cheap there and so as sharing houses. 
        </div>
      </div>
    </div>
  </div>
</div>  
<br><br><br>
{% endblock %}

{% block section2 %}
<div class="container">
    <br><br>
    <div class="top-uni-text">
        <h3 class="h3">
            University
        </h3>
     </div>
    <div id="accordion" class="faq-text">
      <div class="card">
       <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                What is the fees range per semester/ degree in Australia?
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
              Most of the universities have price range of $10000-13000 per semester 
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What process are used and how much time to get the visa?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
              Once you get your offer letter from the university and you pay the fees for first semester, you can apply for visa which will take 4-6 working weeks
          </div>
        </div>
      </div>
    </div>
  </div>  
  <br><br><br>
{% endblock %}

{% block section3 %}
<div class="container">
    <div class="top-uni-text">
        <h3 class="h3">
            Fees
        </h3>
     </div>
    <div id="accordion" class="faq-text">
      <div class="card">
       <div class="card-header" id="headingOnethird">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOneThird" aria-expanded="true" aria-controls="collapseOneThird">
                What is the fees range per semester/ degree in Australia?
            </button>
          </h5>
        </div>
        <div id="collapseOneThird" class="collapse show" aria-labelledby="headingOnethird" data-parent="#accordion">
          <div class="card-body">
              Most of the universities have price range of $10000-13000 per semester 
          </div>
        </div>
      </div>
      <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              How much money I need to spend in the starting to go Australia?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Around $20-25k.
        </div>
      </div>
    </div>
    </div>
  </div>  
  <br><br><br>
{% endblock %}