<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="top-nav">
    <div class="container">
        <span class="navbar-text mr-md-3">
           <small>Talk with us:</small> 
        </span>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-warning" href="https://www.facebook.com/UniConnect-431878487273437/"><i class="fab fa-facebook-messenger"></i></a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="nav-link"><a href="{{ path_for('login') }}" class="btn btn-outline-warning btn-block btn-sm">Login</a></span>
            </li>
         </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="fix-it">
    <div class="container" id="main-nav-bar">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav nav-pills nav-fill mr-auto central-nav">
            <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}" href="#">Home</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('regularSearch') }}">Universities</a>
            </li>       
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <a class="nav-link" id="brand" href="{{ path_for('home') }}">
                    <img data-src="/assets/uploads/images/logo.png">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('aboutus') }}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('services') }}">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path_for('faq') }}">FAQ</a>
            </li>   

            <li class="nav-item d-sm-block d-md-none">
                <a class="nav-link" href="{{ path_for('login') }}">Login</a>
            </li>
            <li class="nav-item d-sm-block d-md-none">
                <hr>
            </li>
      
            <li class="nav-item d-sm-block d-md-none">
                <div class="row">
                    <div class="col">
                        <a class="nav-link" href="https://www.facebook.com/UniConnect-431878487273437/"><i class="fab fa-facebook-messenger"></i></a>
                    </div>
                </div>
            </li>
      
          </ul>
        </div>
    </div>
</nav>
