{% extends "/templates/home.html" %}

{% block title %} {{ title }} {% endblock %}

{% block hero %}
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-right">
        <h1>UniConnect</h1>
        <br>
        <h5>
          Helping aspiring international <br>
          students <br>
          to get to the <strong>right university</strong> <br>
          for them.
        </h2>
      </div>
      <div class="col main-questioner">
        <h4>Lets get started by asking some few questions.</h4>
        <form class="form-questioner">
          <div class="form-group row no-gutters">
            <label class="col-sm-7 col-form-label">My <u>highest education</u> background is </label>
            <div class="col-sm-5">
              <select class="form-control">
                <option>Select education level</option>
                <option value="Undergrad">Undergrad</option>
                <option value="Postgrad">Postgrad</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-4 col-form-label">and I want to take</label>
            <div class="col-sm-4">
              <select class="form-control" id="degree"></select>
            </div>
            <label class="col-sm-4 col-form-label">&nbsp;&nbsp;, I have finished my</label>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-5 col-form-label"><u>previous education</u> at</label>
            <div class="col-sm-3">
              <input type="text" name="txtSchool" id="txtSchool" class="form-control form-outline" placeholder="my previouse school">
            </div>
            <label class="col-sm-4 col-form-label">&nbsp;&nbsp;and I would like</label>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">to study in</label>
            <div class="col-sm-4">
              <select class="form-control" id="country"></select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <div class="col-sm-12">
              <button class="btn btn-block" type="button" id="btnSearch">Search!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block section1 %}
  <div class="container top-universities">
    <h3>Top universities around the world</h3>
    <div class="row">
      {% for uni in unis %}
      <div class="col">
        <div class="card">
          {% if uni.logo %}
          <img class="card-img-top" src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ uni.name }}">
          {% else %}
          <img class="card-img-top" src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ uni.name }}">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title"><a href="{{ path_for('university', {country:uni.country, uni:uni.slug}) }}">{{ uni.name }}</a></h5>
            <p class="card-text">{{ uni.description|raw }}</p>
           </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block section2 %}
  <div class="container">
    <div class="row">
      <div class="col">
        <div id="maps" style="position: relative; width: 100%; height: 100%;"></div>
      </div>
      <div class="col-md-5">
        <h3 class="title">International students around the world</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque exercitationem necessitatibus cumque consequatur illo molestias ex sint, maiores reiciendis distinctio incidunt tenetur nemo ut, molestiae soluta eligendi eum ab enim.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut atque distinctio cum nulla excepturi voluptate pariatur unde sint totam, tempora placeat molestiae ullam quam delectus ratione! Maxime quia modi ipsum.
        </p>
      </div>     
    </div>
  </div>
{% endblock %}

{% block section3 %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="display-6">A growing community around the world</h3>
      <h5>See what other international student say about us</h5>
    </div>
  </div>
  <div class="row">
    <div class="card-columns">
      {% for testimony in testimonies %}
      <div class="card">
        {% if testimony.image %}
        <img class="card-img-top" src="{{ testimony.image }}" alt="Card image cap">
        {% endif %}
        {% if testimony.title %}
        <div class="card-body">
          <h5 class="card-title">{{ testimony.title }} <small>@unistudent 30min ageo</small></h5>
          <p class="card-text">{{ testimony.description|raw }}</p>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block section4 %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3 class="title">
        Services offered
      </h3>
      <h6 class="subtitle">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, ipsum est iusto dolorum magnam officia soluta odio inventore deleniti laboriosam dolores commodi eveniet laudantium tempore? Blanditiis eligendi velit corporis in.
      </h6>
      <ul>
        <li>24 Hours Support</li>
        <li>24 Hours Support</li>
        <li>24 Hours Support</li>
        <li>24 Hours Support</li>
        <li>24 Hours Support</li>
        <li>24 Hours Support</li>
      </ul>

      <div class="row">
        <div class="col-md-12">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minima similique, minus itaque impedit sit et natus velit aliquam. Ratione ea rem qui porro suscipit ipsam quisquam ducimus magni eaque.
          <br><br>
        </div>
        <div class="col-md-12">
          <h5>Ways in connecting with us.</h5>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-dark btn-block"><i class="fab fa-facebook-messenger"></i></button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-dark btn-block"><i class="fab fa-weixin"></i></button>
        </div>
      </div>
      
    </div>
    <div class="col-md-6">
      <img src="https://bulma.io/images/placeholders/1280x960.png" class="img-fluid" alt="Placeholder image">
    </div>
  </div>
</div>
{% endblock %}