{% extends "/templates/home.html" %}

{% block title %} {{ title }} {% endblock %}

{% block hero %}
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-4 text-right" id="slogan">
        <h1>UniConnect</h1>
          <span class="h4">
            Helping aspiring international <br>
          </span>
          <span class="h4">
            students <br>
          </span>
          <span class="h4">
          to get to the <strong>right university</strong> <br>
          </span>
          <span class="h4">
            for them.
          </span>
      </div>
      <div class="col main-questioner">
        <h4>Lets get started by asking some few questions.</h4>
        <form class="form-questioner">
          <div class="form-group row no-gutters">
            <label class="col-sm-7 col-form-label">My <u>highest education</u> background is </label>
            <div class="col-sm-5">
              <select class="form-control">
                <option>Select education level</option>
                <option value="Undergrad">Undergrad</option>
                <option value="Postgrad">Postgrad</option>
              </select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-4 col-form-label">and I want to take</label>
            <div class="col-sm-4">
              <select class="form-control" id="degree"></select>
            </div>
            <label class="col-sm-4 col-form-label">&nbsp;&nbsp;, I have finished my</label>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-5 col-form-label"><u>previous education</u> at</label>
            <div class="col-sm-3">
              <input type="text" name="txtSchool" id="txtSchool" class="form-control form-outline" placeholder="my previouse school">
            </div>
            <label class="col-sm-4 col-form-label">&nbsp;&nbsp;and I would like</label>
          </div>
          <div class="form-group row no-gutters">
            <label class="col-sm-3 col-form-label">to study in</label>
            <div class="col-sm-4">
              <select class="form-control" id="country"></select>
            </div>
          </div>
          <div class="form-group row no-gutters">
            <div class="col-sm-12">
              <button class="btn btn-warning btn-block" type="button" id="btnSearch"><b>Search!</b></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block section1 %}
  <div class="container-fluid top-universities">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="text-center top-uni-text">
          <h3>Universities around Australia and New Zealand</h3>
          <h4 class="muted">Top Universities</h4>
        </div>
        <div class="row">
          {% for uni in unis %}
          <div class="col-lg-4 col-md-6">
            <div class="card top-uni-text">
                {% if uni.logo %}
                <img class="card-img-top" data-src="/assets/uploads/images/{{ uni.logo }}" alt="{{ uni.name }}">
                {% else %}
                <img class="card-img-top" data-src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ uni.name }}">
                {% endif %}
                <br>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="{{ path_for('university', {country:uni.country, uni:uni.slug}) }}">{{ uni.name }}</a>
                  <br>
                  <small>
                    {{ uni.address|title }} <br>
                    {{ uni.country|title }}
                  </small>
                </h5>
                <br>
                <p class="card-text">
                  {{ uni.description|raw|slice(0,100) }}... 
                  <a href="{{ path_for('university', {country:uni.country, uni:uni.slug}) }}" class="badge badge-warning">read more</a>
                </p>
                <br>
                <p class="card-text">
                  <small>
                    <i class="fas fa-dollar-sign"></i> {{ uni.range }} Annually
                  </small>
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col side-article">
        <br>
        <div class="card">
          <img class="card-img-top" data-src="/assets/uploads/images/j-10.jpg" alt="Uni Survival Guide">
          <div class="card-body">
            <h4 class="card-title"><a href="{{ path_for('faq') }}">Uni Survival Guide</a></h4>
            <p class="card-text">
                A university’s FAQ section sometimes doesn’t cut it when it comes to shedding light on seemingly trivial yet important questions that bug a student’s mind.
            </p>
          </div>
        </div>
        <br>
        <a href="{{ path_for('faq') }}" class="btn btn-warning btn-block"><b>View More Articles</b></a>
      </div>
    </div>  
  </div>
  <br><br>
{% endblock %}

{% block section5 %}
  <div class="container-fluid top-universities">
    <div class="row">
      <div class="col side-article">
        <div class="card">
          <img class="card-img-top" data-src="/assets/uploads/images/j-3.jpg" alt="Uni Survival Guide">
          <div class="card-body">
            <h4 class="card-title"><a href="{{ path_for('faq') }}">Picking the right course for you</a></h4>
            <p class="card-text">
                A univers on seemingly trivial yet important questions that bug a student.
            </p>
          </div>
        </div>
        <br>
        <a href="{{ path_for('faq') }}" class="btn btn-warning btn-block"><b>Read More</b></a>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="text-center top-uni-text">
          <h3>Endless Career Path to Choose</h3>
          <h4 class="muted">Popular Degree</h4>
          <br>
        </div>
        <div class="row">
          {% for uni in careers %}
          <div class="col-lg-4 col-md-6">
            <div class="card top-uni-text">
                {% if uni.fldCareerImage %}
                <img class="card-img-top" data-src="/assets/uploads/images/{{ uni.fldCareerImage }}" alt="{{ uni.fldCareerName }}">
                {% else %}
                <img class="card-img-top" data-src="https://bulma.io/images/placeholders/1280x960.png" alt="{{ uni.fldCareerName }}">
                {% endif %}
                <br>
              <div class="card-body">
                <h5 class="card-title">
                  <a href="">{{ uni.fldCareerName }}</a>
                  <br>
                </h5>
                <br>
                <p class="card-text">
                  {{ uni.fldCareerDescription|raw|slice(0,195) }}... 
                  <a href="{{ path_for('careers', {careers:uni.fldCareerSlug}) }}" class="badge badge-warning">read more</a>
                </p>
                <br>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>  
  </div>
  <br><br>
  <hr>
{% endblock %}

{% block section2 %}
  <div class="international-students-text">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="white-transparent">
            <br><br>
            <h3 class="h1">Explore what Australia and New Zealand<br> can offer Internation Students</h3> <br>
            <p>
                Two of the world’s most popular study destinations, Australia and New Zealand have always appealed to international students. Indeed, who could turn down the sun and sand of Australia, or the rugged natural beauty (and penguins!) of New Zealand?
                But of course these natural attractions wouldn’t be worth much if they weren't combined with excellent universities – assets in which both countries are also wealthy.
            </p>
            <p>
                If you want  to study in Australia or New Zealand, click on the button below to access our dedicated country guides, including details about top universities in Australia and New Zealand, popular student cities, and practical information about costs, applications and visa requirements.
            </p>
            <br><br>
            <a href="{{ path_for('regularSearch') }}" class="btn btn-outline-light btn-block btn-lg"><b>Search Universities</b></a>
            <br>
          </div>
        </div>     
      </div>
    </div>
  </div>
{% endblock %}

{% block section3 %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center top-uni-text">
      <h3>Student Testimonies</h3>
      <h4>How we helped international students</h4>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card-columns">
        {% for testimony in testimonies %}
        <div class="card">
          {% if testimony.image %}
          <img class="card-img-top" data-src="/assets/uploads/images/{{ testimony.image }}" alt="{{ testimony.title }} ">
          {% endif %}
          {% if testimony.title %}
          <div class="card-body">
              <h4 class="card-title text-center">
                  <br>
                  {{ testimony.title }} <br> <a href="{{ path_for('university', {country:testimony.fldUniSlug, uni:testimony.fldCountrySlug}) }}">@{{ testimony.fldUniName }}</a>
                <br>
                <br>
              </h4>
              <blockquote class="blockquote">
                <p class="mb-0 card-text">{{ testimony.description|raw }}</p>
                <footer class="blockquote-footer">{{ testimony.title }}</footer>
              </blockquote>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block section4 %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="top-uni-text text-center">
        <h3 class="title">
          International Student Guide
        </h3>
        <h4>
          Learn more about being an international student
        </h4>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-columns">
            <div class="card">
              <img class="card-img-top" data-src="/assets/uploads/images/j-9.jpg" alt="{{ testimony.title }} ">
              
              <div class="card-body">
                <h4 class="card-title">
                  Explore the Universities that Australia and New Zealand cab offer
                </h4> <br>
                <a href="{{ path_for('regularSearch') }}" class="btn btn-outline-warning btn-block"><b>Explore</b></a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" data-src="/assets/uploads/images/j123.jpg" alt="{{ testimony.title }} ">
              
              <div class="card-body">
                <h4 class="card-title">
                  Here at UniConnect we support our students as much as we can.
                </h4> <br>
                <a href="{{ path_for('services') }}" class="btn btn-outline-warning btn-block"><b>Read More</b></a>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" data-src="/assets/uploads/images/j-2.jpg" alt="{{ testimony.title }} ">
              
              <div class="card-body">
                <h4 class="card-title">
                  Knowledge is power! Survive University by know this facts!
                </h4> <br>
                <a href="{{ path_for('faq') }}" class="btn btn-outline-warning btn-block"><b>Read More</b></a>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
  </div>
</div>
{% endblock %}