{% extends "/templates/profile.html" %}

{% block title %} {{ title }} {% endblock %}

{% block topnav %}
<div class="container">
    <div class="navbar" id="side-bar-top">
        <nav class="navbar navbar-expand-lg">  
            <a class="navbar-brand" href="">
                <img data-src="/assets/uploads/images/logo.png" alt="UniConnect" class="logo">
            </a>
            <h2>UniConnect - <small>"Helping internationl student get to the right university"</small></h2>
        </nav>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "pages/profile/sidebar.html" %}
{% endblock %}

{% block maincontent %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card-columns">
            {% for testimony in testimonies %}
                <div class="card">
                {% if testimony.title %}
                    <div class="card-body">
                        <h5 class="card-title">{{ testimony.title }}</h5>
                        <p class="card-text">
                            <ul>
                                <li>mobile: {{ testimony.fldUserMobile }}</li>
                                <li>email: {{ testimony.fldUserEmail }}</li>
                            </ul>
                        </p>
                        <p class="card-text">{{ testimony.description|raw }}</p>
                    </div>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
                
    </div>
</div>
{% endblock %}
