{% extends "/templates/profile.html" %}

{% block title %} {{ title }} {% endblock %}

{% block topnav %}
<div class="container">
    <div class="navbar" id="side-bar-top">
        <nav class="navbar navbar-expand-lg">  
            <a class="navbar-brand" href="">
                <img data-src="/assets/uploads/images/logo.png" alt="UniConnect" class="logo">
            </a>
            <h2>UniConnect - <small>"Helping internationl student get to the right university"</small></h2>
        </nav>
    </div>
</div>
{% endblock %}

{% block sidebar %}
{% include "pages/profile/sidebar.html" %}
{% endblock %}

{% block maincontent %}
<div class="container">
    <br>
    <div class="row">
        {% if degree %}
        <div class="col-md-8">
            <h4>{{ uni.fldUniName }}</h4>
            <div class="row">
                <div class="col">
                    <img data-src="/assets/uploads/images/{{ uni.fldUniLogo }}" class="img-fluid" alt="{{ uni.fldUniName }}">
                </div>
                <div class="col-md-8">
                    {{ uni.fldUniDescription|raw }}
                    <a href="{{ path_for('myuniversity') }}" class="badge badge-warning">read more</a>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <h4>University Requirements</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, ipsa quia! Officiis est maiores nisi, perferendis quisquam totam, quaerat dolorum mollitia rem, veniam dolorem placeat possimus? Nulla earum veritatis cum!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed reprehenderit dicta suscipit ducimus quam consequatur modi cupiditate nisi atque ut nesciunt, eum a aliquam voluptate debitis exercitationem quia itaque perspiciatis.</p>
                    <a href="{{ path_for('checklist') }}" class="badge badge-warning">read more</a>
                </div>   
                <div class="col-md-6">
                    <h4>Visa Requirements</h4>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt, ipsa quia! Officiis est maiores nisi, perferendis quisquam totam, quaerat dolorum mollitia rem, veniam dolorem placeat possimus? Nulla earum veritatis cum!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed reprehenderit dicta suscipit ducimus quam consequatur modi cupiditate nisi atque ut nesciunt, eum a aliquam voluptate debitis exercitationem quia itaque perspiciatis.</p>
                    <a href="{{ path_for('checklist') }}" class="badge badge-warning">read more</a>
                </div>   
            </div>
        </div>
        <div class="col-md-4">
            <div class="white-transparent text-white">
                <h4>{{ country.fldCountryName }}</h4>
                {% if country.fldCountryName == "Australia" %}
                <img data-src="/assets/uploads/images/australia.png" class="img-fluid" alt="Australia">
                {% else %}
                <img data-src="/assets/uploads/images/australia.png" class="img-fluid" alt="Australia">
                {% endif %}
                {{ country.fldCountryDescription|raw }}
                <a href="" class="text-warning">read more</a>
            </div>
        </div>   
        
        {% else %} 
        <div class="col-md-12">
            <form class="white-transparent text-white" id="first-profile">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <h5>Before we get started with your academic journey, we must first need some of your details.</h5>
                        <br><br>
                        <h5>Personal Information</h5>
                        <hr>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtFName" class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtFName" name="txtFName" placeholder="First Name *" required>
                        <div class="invalid-feedback">First name is needed.</div>
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtLName" name="txtLName" placeholder="Last Name *" required>
                        <div class="invalid-feedback">Last name is needed.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtDOB" class="col-sm-2 col-form-label">Birthday</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="txtDOB" name="txtDOB" placeholder="birthday">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtPhone" class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="txtPhone" name="txtPhone" placeholder="Phone *" required>
                        <div class="invalid-feedback">Phone is needed.</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="txtStreet" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtStreet" name="txtStreet" placeholder="Street">
                    </div>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="txtSuburb" name="txtSuburb" placeholder="Suburb">
                        <br>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="txtState" name="txtState" placeholder="State">
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="txtPostcode" name="txtPostcode" placeholder="Postcode">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <br><br><br>
                        <h5>Degree's offered by {{ uni.fldUniName }}</h5>
                        <small class="text-warning">Selecting a degree is required to proceed to the next step.</small>
                        <hr>
                        <div class="card-columns">
                            {% for row in degrees %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="degree" id="radio{{ row.fldDegreeId }}" value="{{ row.fldDegreeId }}" required> 
                                            <label class="custom-control-label" for="radio{{ row.fldDegreeId }}">{{ row.fldDegreeName }}</label>
                                            <div class="invalid-feedback">Degree is needed</div>
                                        </div>
                                    </h5>
                                    <label for="radio{{ row.fldDegreeId }}">
                                        <p class="card-text">{{ row.fldDegreeDescription|raw }}</p>
                                        <p class="card-text"><strong>Tuition Fee: </strong> $12,000</p>
                                        <div class="row">
                                            <div class="col">
                                                <a href="{{ row.fldDegreeLink }}" target="_blank" class="card-link btn btn-warning btn-block">Full Details</a>
                                            </div>
                                            <div class="col">
                                                <a href="{{ row.fldDegreeStudyPlan }}" target="_blank" class="card-link btn btn-warning btn-block">Study Plan</a>
                                            </div>
                                        </div>                                        
                                    </label>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button type="button" id="btnSaveProfile" class="btn btn-warning btn-block"><b>Complete My Profile!</b></button>
                    </div>
                </div>
            </form>
        </div>
        {% endif %}
       
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
          <hr>
         <div class="top-uni-text text-center">
           <h3 class="title">
             International Student Guide
           </h3>
              <h4>
                Be prepared and ready yourself in studying abroad
              </h4>
            </div>
            <div class="row">
              <div class="col">
                <div class="card-columns">
                  <div class="card">
                    <img class="card-img-top" data-src="/assets/uploads/images/bookcase-books-bookshelves-256541.jpg" alt="{{ testimony.title }} ">
                    
                    <div class="card-body">
                      <h4 class="card-title">
                        Pre University Activities
                      </h4> <br>
                      <a href="{{ path_for('regularSearch') }}" class="btn btn-outline-warning btn-block"><b>Explore</b></a>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" data-src="/assets/uploads/images/adult-blond-blur-789703.jpg" alt="{{ testimony.title }} ">
                    
                    <div class="card-body">
                      <h4 class="card-title">
                        University Life
                      </h4> <br>
                      <a href="{{ path_for('services') }}" class="btn btn-outline-warning btn-block"><b>Read More</b></a>
                    </div>
                  </div>
                  <div class="card">
                    <img class="card-img-top" data-src="/assets/uploads/images/adult-blur-books-261909.jpg" alt="{{ testimony.title }} ">
                    
                    <div class="card-body">
                      <h4 class="card-title">
                        After Application Support
                      </h4> <br>
                      <a href="{{ path_for('faq') }}" class="btn btn-outline-warning btn-block"><b>Read More</b></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
{% endblock %}
